body {
	margin: auto;
}


#infoBox{
	position: absolute;
	left: 30px;
	top: 30px;
	width: 510px;
}

#image {
	text-align: center;
	margin: auto;
}

#name {
	font-weight: bold;
}

#name a{
	text-decoration: none;
	color: #000;
	display: inline-block;
}

#buttons {
	width: 100%;
	height: 30px;
}

#description, #name, #ownership {
	padding: 10px 20px;
}

#description, #name, #ownership, #buttons, #help {
	background: #aae7fb;
}

.linkContainer a{
	-webkit-border-radius: 1;
	-moz-border-radius: 1;
	border-radius: 1px;
	text-decoration: none;
	color: #000;
	background-color: #5accf3;
	padding: 10px;
}

.linkContainer {
	padding: 10px 7px;
	background: #aae7fb;
	float: left;
	margin-bottom: 10px;
}

#description {
	max-height: 10em;
	overflow: auto;
	background: #c6eefd;
}

#sendTroops {
	margin-top: 10px;
	text-align: center;
}

#links{
	display: inline;
	width: 500px;
}

input#sector {
	display: inline;
	border-radius: 1px;
	border: 10px solid #5accf3;
	width: 40px;
}

#links a {
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  color: black;
  background: #5accf3;
  padding: 10px 20px;
  text-decoration: none;
}

#links a:hover, .linkContainer a:hover {
	background: #23bdf2;
	transition: 0.3s background;
}

#layer2 path:hover {
	stroke-width: 3;
	transition: 0.3s stroke-width;
	cursor: pointer;
}

#customizer {
	position: absolute;
	top: 30px;
	left: 550px;

}

#size {
	width: 70px;
}

#color {
	width: 70px;
}

#customizer a{
	text-decoration: none;
	color: #000;
	-webkit-border-radius: 1;
	-moz-border-radius: 1;
	border-radius: 1px;
	background-color: #5accf3;
	padding: 10px;
	margin-top: 10px;
	float: left;
	width: 130px;
	text-align: center;
}

#customizer a:hover{
	background: #23bdf2;
	transition: 0.3s all;
}

h1 {
	text-align: center;
}

#footer {
	margin-left: 20px;
	color: #7a7a7a;
	font-size: 10px;
}

#footer a{
	color: #7a7a7a;
}

#help {
	position: absolute;
	left: 20%;
	right: 20%;
	top: 40px;
	padding: 30px;
	border: 20px solid #c6eefd;
	cursor: pointer;
	display: none;
}

#blackbox {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	background: rgba(0,0,0,0.5);
	display: none;
}

.floatRight {
	float: right;
}



@keyframes conflictNeutral {
    from {
			fill: #ff4639;
			color: #ff4639;}
    to {
			fill: #787878;
			color: #787878;}
}

@keyframes conflictCrimson {
    from {fill: #dc143c;}
    to {fill: #787878;}
}

@keyframes conflictEmerald {

    from {fill: #50C878;}
    to {fill: #ff4639;}
}

.disputedNeutral{
	fill: #ff4639;
	stroke-width: 1;
	stroke: #000000;
	animation-name: conflictNeutral;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
	animation-timing-function: ease-in;
	color: #ff4639;
}

.disputedCrimson{
	fill: #dc143c;
	stroke-width: 1;
	stroke: #000000;
	animation-name: conflictCrimson;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
	animation-timing-function: ease-in;
}

.disputedEmerald{
	fill: #50C878;
	stroke-width: 1;
	stroke: #000000;
	animation-name: conflictEmerald;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
	animation-timing-function: ease-in;
}

.hidden {
	display: none;
}

.hintText {
	color: #7a7a7a;
}

.active {
	stroke-width: 3;
	stroke: #000000;
}

.italic {
	font-style: italic;
}

p {
	margin-bottom: 5px;
	margin-top: 5px;
}

.capitals {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}
.s0 {fill:#000;stroke-width:0.34;stroke:#000;}

.s1 { /*crimson*/
	fill: #dc143c;
	stroke-width: 1;
	stroke: #000000;
	color: #dc143c;
}

.s2 { /*neutral*/
	fill: #787878;
	stroke-width: 1;
	stroke: #000000;
	color: #787878;
}

.s3 { /*emerald*/
	fill: #50C878;
	stroke-width: 1;
	stroke: #000000;
	color: #50C878;
}

.s4{fill:none;stroke-width:5;stroke:#000;} /*connections*/

.s5 { /*land text*/
	fill: #000;
	font-family: TrebuchetMS;
	font-size:12px;
	line-height:100;
	pointer-events: none;
}
